[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
coverage = "*"
"flake8" = "*"
nose = "*"
python-coveralls = "*"
tox = "*"
tox-pipenv = "*"

[requires]
python_version = "3.7"
